node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
.env # This contains secrets, don't store in source control
# macOS
.DS_Store
node_modules/